body {
  font-family: 'PT Serif', serif;
}

.navbar-brand {
  font-family: 'Playball', 'Brush Script MT', cursive;
  font-size: 26px;
}

.navbar-brand img {
  margin-right: 5px;
}

/* Footer */
.has-text-light a {
	color: whitesmoke;
}

/* Main page */
.hero.is-light .title {
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 1px 1px 4px #b5b5b5;
  font-family: 'Playball', 'Brush Script MT', cursive;
}

.card {
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .hero.is-light .title {
    font-size: 6rem;
    text-shadow: 2px 2px 4px #b5b5b5;
  }
}
