<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">

	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Open Projections</title>
    
  </head>
  <body>
  
    <!-- NAVBAR -->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://open-projections.com">
          <img src="{{ url_for('static', filename='img/box.svg') }}" width="28" height="28">
          Open Projections
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

    </nav>

    <!-- HERO -->
    <section class="hero is-light is-small">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title is-spaced is-1 has-text-black">
            Open Projections
          </h1>
          <h2 class="subtitle">
            A completely transparent methodology for forecasting baseball performance.
          </h2>


          <div class="columns is-centered">
            <div class="column is-4 has-text-centered">
    
              <a href="https://github.com/mayscopeland/open_projections">
              <div class="card">
                <div class="card-content">
                  <div class="content">
                    <figure class="image is-128x128 is-inline-block">
                      <img src="{{ url_for('static', filename='img/github.png') }}" alt="GitHub">
                    </figure>
                    <p class="subtitle is-4">View source on GitHub</p>
                  </div>
                </div>
              </div>
              </a>
    
            </div>
            <div class="column is-4 has-text-centered">
    
              <a href="https://projectile.pro">
              <div class="card">
                <div class="card-content">
                  <div class="content">
                    <figure class="image is-128x128 is-inline-block">
                      <img src="{{ url_for('static', filename='img/projectile.svg') }}" alt="Projectile">
                    </figure>
                    <p class="subtitle is-4">View projections on Projectile</p>
                  </div>
                </div>
              </div>
              </a>
    
            </div>
          </div>

        </div>
      </div>
    </section>

	<!-- VERSIONS -->
	<section class="section">
		<div class="container">
            
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="card">
            <header class="card-header">
              <div class="card-content title is-1">Current Version: 2.2 (Blyleven)</h1>
            </header>
            <div class="card-content">
              <div class="content">
                <h2 class="title is-3">Changelog</h2>
                <ul>
                  <li>2.2 (2021-09-15): Add QS projections for pitchers, using same settings as for W</li>
                  <li>2.1 (2021-08-19): Update minor league factors. (Previous factors were too high for HR, especially.)</li>
                  <li>2.0 (2021-08-18): Initial release of Blyleven with separate weighting and regression for each stat!</li>
                </ul>
                <img src="{{ url_for('static', filename='img/blyleven.jpg') }}" class="is-pulled-right" style="margin: 10px;">
                <h2 class="title is-3">Basics</h2>
                <p>
                  The focus of the second iteration of the Open Projections&mdash;called <strong>Blyleven</strong>&mdash;is separate weightings and regressions for each component stat in the projection.
                </p>
                <p>
                  We know that some stats (strikeouts, for example) can be projected based on relatively small, recent sample. Other stats (like hits) require a bigger sample and more regression.
                </p>
                <p>
                  This is not a new idea. I'm guessing that this is typical of most closed projection systems. For example:
                </p>
                  <ul>
                    <li>Sean Smith (CHONE projections) was <a href="http://lanaheimangelfan.blogspot.com/2009/06/david-wright.html">thinking about this back in 2009.</a></li>
                    <li>Jared Cross mentioned how they <a href="https://web.archive.org/web/20101226021929/http://steamerprojections.com/blog/evaluation-of-2009-hitter-forecasts/">"have different weights for each component and regress some components more heavily than others"</a> in the 2009 Steamer projections.</li>
                    <li>Clay Davenport wrote about <a href="http://claydavenport.com/archives/123">incorporating this idea in his projections back in 2012.</a></li>
                  </ul>
                <p>So, not new, but I'd still guess it's the next best upgrade for the Open Projections.</p>

                <h2 class="title is-3">Weighting by recency</h2>
                <h3 class="subtitle is-5 is-italic">Greater weighting for more recent data, especially for SO, BB, SB, and HR.</h3>
                <p>
                  Stats for each game are weighted by recency, so that more recent games are more influential in the projection. The weighting is n^daysAgo, where n is a decay rate specific to each stat. (See <strong>Aparicio</strong> below for additional background and discussion.)
                </p>
                <p>Each stat is weighted separately, depending on how much information is gained by the most recent data. SO are most affected by recent data, followed by walks, SB, and HR. Everything else receives the default weighting from Aparicio (0.9994).</p>
                
                <h3 class="title is-5">Stat Weights (Batting)</h3>
                <table class="table is-narrow is-hoverable">
                  <thead>
                    <tr>
                      <th>Stat</th>
                      <th>Decay (n)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>SO</td>
                      <td>0.9965</td>
                    </tr>
                    <tr>
                      <td>UIBB</td>
                      <td>0.9974</td>
                    </tr>
                    <tr>
                      <td>IBB</td>
                      <td>0.9974</td>
                    </tr>
                    <tr>
                      <td>SB</td>
                      <td>0.9974</td>
                    </tr>
                    <tr>
                      <td>CS</td>
                      <td>0.9974</td>
                    </tr>
                    <tr>
                      <td>HR</td>
                      <td>0.9985</td>
                    </tr>
                    <tr>
                      <td>1B</td>
                      <td>0.9994</td>
                    </tr>
                    <tr>
                      <td>2B</td>
                      <td>0.9994</td>
                    </tr>
                    <tr>
                      <td>3B</td>
                      <td>0.9994</td>
                    </tr>
                    <tr>
                      <td>R</td>
                      <td>0.9994</td>
                    </tr>
                    <tr>
                      <td>RBI</td>
                      <td>0.9994</td>
                    </tr>
                    <tr>
                      <td>HBP</td>
                      <td>0.9994</td>
                    </tr>
                    <tr>
                      <td>SH</td>
                      <td>0.9994</td>
                    </tr>
                    <tr>
                      <td>SF</td>
                      <td>0.9994</td>
                    </tr>
                    <tr>
                      <td>GIDP</td>
                      <td>0.9994</td>
                    </tr>
                  </tbody>
                </table>
                <p>
                  Pitching stats most biased towards the recent data are SO, then H, and SV/HLD. BB and W/QS slightly favor recent stats, while the rest receive the default 0.9990 from Aparicio.
                </p>
                <h3 class="title is-5">Stat Weights (Pitching)</h3>
                <table class="table is-narrow is-hoverable">
                  <thead>
                    <tr>
                      <th>Stat</th>
                      <th>Decay (n)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>SO</td>
                      <td>0.9930</td>
                    </tr>
                    <tr>
                      <td>H</td>
                      <td>0.9955</td>
                    </tr>
                    <tr>
                      <td>SV</td>
                      <td>0.9970</td>
                    </tr>
                    <tr>
                      <td>HLD</td>
                      <td>0.9970</td>
                    </tr>
                    <tr>
                      <td>HR</td>
                      <td>0.9980</td>
                    </tr>
                    <tr>
                      <td>UIBB</td>
                      <td>0.9980</td>
                    </tr>
                    <tr>
                      <td>HBP</td>
                      <td>0.9980</td>
                    </tr>
                    <tr>
                      <td>W</td>
                      <td>0.9980</td>
                    </tr>
                    <tr>
                      <td>QS</td>
                      <td>0.9980</td>
                    </tr>
                    <tr>
                      <td>R</td>
                      <td>0.9990</td>
                    </tr>
                    <tr>
                      <td>ER</td>
                      <td>0.9990</td>
                    </tr>
                    <tr>
                      <td>L</td>
                      <td>0.9990</td>
                    </tr>
                    <tr>
                      <td>G</td>
                      <td>0.9990</td>
                    </tr>
                    <tr>
                      <td>GS</td>
                      <td>0.9990</td>
                    </tr>
                    <tr>
                      <td>CG</td>
                      <td>0.9990</td>
                    </tr>
                    <tr>
                      <td>SHO</td>
                      <td>0.9990</td>
                    </tr>
                    <tr>
                      <td>WP</td>
                      <td>0.9990</td>
                    </tr>
                    <tr>
                      <td>BK</td>
                      <td>0.9990</td>
                    </tr>
                    <tr>
                      <td>IBB</td>
                      <td>1.0000</td>
                    </tr>
                  </tbody>
                </table>
                <p>Note: These numbers were not created by an especially rigorous process. They were simply what worked well for projecting past seasons, alongside my own expectations. There is room to improve here.</p>
                
                <h2 class="title is-3">Weighting by level</h2>
                <h3 class="subtitle is-5 is-italic">(45% for Spring, DT-based stat weights for minors)</h3>
                <p>
                  Weighting for minor leagues and spring training are unchanged from Aparicio v1.2.
                </p>

                <h2 class="title is-3">Regression to the mean</h2>
                <h3 class="subtitle is-5 is-italic">(Add <em>n</em> PA of league average for each stat)</h3>
                <p>
                  Unlike Aparicio, each projected stat in Blyleven is subject to an individualized amount of regression.
                </p>
                <p>
                  There has been a ton of research done in this area:
                  <ul>
                    <li>MGL's <a href="http://www.tangotiger.net/mgl/regression.pdf">Component Regression Values</a> and Tom Tango's <a href="http://tangotiger.net/archives/stud0274.shtml">response</a></li>
                    <li>Russell Carleton's study of <a href="https://statspeakmvn.wordpress.com/2007/11/14/525600-minutes-how-do-you-measure-a-player-in-a-year/">hitters</a> and <a href="http://web.archive.org/web/20080112135748/mvn.com/mlb-stats/2008/01/06/on-the-reliability-of-pitching-stats/">pitchers</a></li>
                    <li>Harry Pavlidis's study of <a href="https://tht.fangraphs.com/it-makes-sense-to-me-i-must-regress/">pitchers</a> and Tom Tango's <a href="http://www.insidethebook.com/ee/index.php/site/article/regression_equations_for_pitcher_events">response</a></li>
                    <li>Derek Carty's study of <a href="https://www.baseballprospectus.com/fantasy/article/14215/resident-fantasy-genius-when-hitters-stats-stabilize/">hitters</a> and <a href="https://www.baseballprospectus.com/fantasy/article/14293/resident-fantasy-genius-when-pitchers-stats-stabilize/">pitchers</a> and Tom Tango's <a href="http://www.insidethebook.com/ee/index.php/site/comments/when_is_the_observed_data_half_real_and_half_noise#comments">response</a></li>
                    <li>Russell Carleton's 2nd study of <a href="https://www.baseballprospectus.com/news/article/17659/baseball-therapy-its-a-small-sample-size-after-all/">hitters</a> and <a href="https://www.baseballprospectus.com/news/article/20516/baseball-therapy-should-i-worry-about-my-favorite-pitcher/">pitchers</a> and Tom Tango's <a href="http://www.insidethebook.com/ee/index.php/site/comments/updated_r50_numbers#comments">response</a></li>
                    <li>Jonah Pemstein and Sean Dolinar's study of <a href="https://blogs.fangraphs.com/a-new-way-to-look-at-sample-size/">hitters</a> and Tom Tango's <a href="http://tangotiger.com/index.php/site/sample-size-and-regression-toward-the-mean">response</a></li>
                    <li>Jonah Pemstein's follow-up study of <a href="https://blogs.fangraphs.com/a-long-needed-update-on-reliability/">hitters and pitchers</a></li>
                  </ul>
                </p>

                <p>These studies were used to inform the Blyleven projections, although their different methodologies sometimes yield differing results, and some stats (e.g. SV) were never studied. The final regression amounts were the result of a bit of trial and error. As with the weighting for past results, there ought to be plenty of room for improvement.</p>

                <p>For batters, each stat was combined with the following PAs of the league average performance:</p>
                  
                <h3 class="title is-5">Regression Amounts (Batting)</h3>
                <table class="table is-narrow is-hoverable">
                  <thead>
                    <tr>
                      <th>Stat</th>
                      <th>Regression PA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>SO</td>
                      <td>92</td>
                    </tr>
                    <tr>
                      <td>UIBB</td>
                      <td>117</td>
                    </tr>
                    <tr>
                      <td>IBB</td>
                      <td>117</td>
                    </tr>
                    <tr>
                      <td>SB</td>
                      <td>81</td>
                    </tr>
                    <tr>
                      <td>CS</td>
                      <td>81</td>
                    </tr>
                    <tr>
                      <td>HR</td>
                      <td>175</td>
                    </tr>
                    <tr>
                      <td>1B</td>
                      <td>141</td>
                    </tr>
                    <tr>
                      <td>2B</td>
                      <td>354</td>
                    </tr>
                    <tr>
                      <td>3B</td>
                      <td>213</td>
                    </tr>
                    <tr>
                      <td>R</td>
                      <td>281</td>
                    </tr>
                    <tr>
                      <td>RBI</td>
                      <td>214</td>
                    </tr>
                    <tr>
                      <td>HBP</td>
                      <td>120</td>
                    </tr>
                    <tr>
                      <td>SH</td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>SF</td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>GIDP</td>
                      <td>200</td>
                    </tr>
                  </tbody>
                </table>

                <p>Pitching regression is comparable to hitting, although a player's starts are regressed toward the league average starter, relief appearances toward the league average reliever.</p>
                
                <h3 class="title is-5">Regression Amounts (Pitching)</h3>
                <table class="table is-narrow is-hoverable">
                  <thead>
                    <tr>
                      <th>Stat</th>
                      <th>Regression BF</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>SO</td>
                      <td>70</td>
                    </tr>
                    <tr>
                      <td>H</td>
                      <td>600</td>
                    </tr>
                    <tr>
                      <td>SV</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td>HLD</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td>HR</td>
                      <td>1200</td>
                    </tr>
                    <tr>
                      <td>UIBB</td>
                      <td>170</td>
                    </tr>
                    <tr>
                      <td>HBP</td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>W</td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>QS</td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>R</td>
                      <td>1200</td>
                    </tr>
                    <tr>
                      <td>ER</td>
                      <td>1200</td>
                    </tr>
                    <tr>
                      <td>L</td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>G</td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>GS</td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>CG</td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>SHO</td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>WP</td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>BK</td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>IBB</td>
                      <td>200</td>
                    </tr>
                  </tbody>
                </table>

                <h2 class="title is-3">R/ER adjustment for pitchers</h2>
                <h3 class="subtitle is-5 is-italic">(an average of projected kwERA and projected ERA)</h3>
                <p>
                  For pitchers, one extra step is added for Blyleven, borrowing (yet another) idea from the <a href="http://www.tangotiger.net/archives/stud0346.shtml">Marcels</a>.
                </p>
                <p>
                  The <a href="http://www.insidethebook.com/ee/index.php/site/article/lego/">kwERA</a> is calculated for each pitcher, and then converted to kwER. ER are replaced by a simple average of their previous ER projection and their kwER projection.
                </p>

                <h2 class="title is-3">Playing time</h2>
                <h3 class="subtitle is-5 is-italic">(650 PA for hitters, 800 BF for SP, 250 BF for RP)</h3>
                <p>
                  Playing time projections are unchanged from Aparicio v1.1.
                </p>

                <h2 class="title is-3">That's it!</h2>
                <p>We're finished! Our Blyleven projections are completed. There's still a lot of room for improvement, but it should be another step in the right direction.</p>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="card">
            <header class="card-header">
              <div class="card-content title is-1">Version 1 (Aparicio)</h1>
            </header>
            <div class="card-content">
              <div class="content">
                <h2 class="title is-3">Changelog</h2>
                <ul>
                  <li>1.2 (2021-08-19): Update minor league factors. (Previous factors were too high for HR, especially.)</li>
                  <li>1.1 (2021-08-07): Project RP at 250 BF and SP at 800 BF. (Previously both projected to 650 BF.)</li>
                  <li>1.0 (2021-03-31): Aparicio initial release!</li>
                </ul>
                <img src="{{ url_for('static', filename='img/aparicio.jpg') }}" class="is-pulled-right" style="margin: 10px;">
                <h2 class="title is-3">Basics</h2>
                <p>
                  The inaugural version 1 of the Open Projections&mdash;named <strong>Aparicio</strong>&mdash;starts with daily game logs for the past 2000 days (roughly the past six years). By working with daily stats, we are able to build projections for any point in time. A player's projection will gradually shift everyday as the new day's stats are collected and old stats fall out of the projection.
                </p>
                <p>
                  Aparicio includes game data for every level of professional baseball, from Rookie leagues to MLB. It even includes spring training and postseason. We're going to throw everything in the mix and try to filter out the most valuable data.
                </p>
  
                <h2 class="title is-3">Weighting by recency</h2>
                <h3 class="subtitle is-5 is-italic">(0.9994^daysAgo for batting, 0.999^daysAgo for pitching)</h3>
                <p>
                  Stats for each game are weighted by recency, so that more recent games are more influential in the projection. Batting stats are weighted at 0.9994^daysAgo. This means that yesterday's games receive almost full weighting (99.4%), while a game from three years ago counts for about half as much (0.9994^1095 = 51.8%).
                </p>
                <p>
                  Pitching stats are weighted at 0.999^daysAgo. Weighting for both batting and pitching are ideas taken from Tom Tango and are comparable to the yearly weights used by Marcel. (See the discussion of <a href="http://www.insidethebook.com/ee/index.php/site/article/new_pecota">New PECOTA</a>.)
                </p>
  
                <h2 class="title is-3">Weighting by level</h2>
                <h3 class="subtitle is-5 is-italic">(45% for Spring, DT-based stat weights for minors)</h3>
                <p>
                  Spring Training and exhibition games receive a weighting of 45%, a number which comes from Neil Paine's study of spring training stats. (See Neil's <a href="https://fivethirtyeight.com/features/when-spring-training-matters/">When Spring Training Matters</a> and the <a href="http://tangotiger.com/index.php/site/article/how-much-to-weight-spring-training-performances">follow-up discussion</a> by Tom Tango.) Notice this considers the most recent Spring Training as roughly equivalent to MLB performances from three years ago.
                </p>
                <p>
                  No adjustment is made to postseason stats, which are counted the same as the regular season.
                </p>
                <p>
                  For minor league stats, each component receives a separate weight for each level of minor league ball. For this, I did a rough reverse engineering of <a href="http://claydavenport.com/">Clay Davenport's Davenport Translations</a> for 2019. For stats not available in DTs, I approximated with a similar stat (e.g. SV for HLD, BB for HBP). With Version 1.2, I re-ran the Davenport Translation numbers from 2021 and updated the minor league factors.
                </p>
                <p>
                  A more advanced approach would adjust for various minor league park factors and year-by-year changes in league quality. But this is enough to get us started.
                </p>

                <h3 class="title is-5">Minor League Factors (Batting)</h3>
                <div class="table-container">
                  <table class="table is-narrow is-hoverable">
                    <thead>
                      <tr>
                        <th>Level</th>
                        <th>AB</th>
                        <th>R</th>
                        <th>H</th>
                        <th>2B</th>
                        <th>3B</th>
                        <th>HR</th>
                        <th>RBI</th>
                        <th>SB</th>
                        <th>CS</th>
                        <th>BB</th>
                        <th>SO</th>
                        <th>IBB</th>
                        <th>HBP</th>
                        <th>SH</th>
                        <th>SF</th>
                        <th>GIDP</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>AAA</th>
                        <td>1.00</td>
                        <td>0.79</td>
                        <td>0.95</td>
                        <td>0.80</td>
                        <td>0.84</td>
                        <td>0.66</td>
                        <td>0.79</td>
                        <td>0.72</td>
                        <td>1.01</td>
                        <td>0.78</td>
                        <td>0.90</td>
                        <td>0.78</td>
                        <td>0.78</td>
                        <td>0.78</td>
                        <td>0.78</td>
                        <td>0.78</td>
                      </tr>
                      <tr>
                        <th>AA/Fall</th>                      
                        <td>1.02</td>
                        <td>0.82</td>
                        <td>0.99</td>
                        <td>0.85</td>
                        <td>0.95</td>
                        <td>0.67</td>
                        <td>0.83</td>
                        <td>0.70</td>
                        <td>0.91</td>
                        <td>0.79</td>
                        <td>0.90</td>
                        <td>0.79</td>
                        <td>0.79</td>
                        <td>0.79</td>
                        <td>0.79</td>
                        <td>0.79</td>
                      </tr>
                      <tr>
                        <th>High-A</th>
                        <td>1.03</td>
                        <td>0.78</td>
                        <td>0.95</td>
                        <td>0.79</td>
                        <td>0.81</td>
                        <td>0.61</td>
                        <td>0.75</td>
                        <td>0.51</td>
                        <td>0.93</td>
                        <td>0.72</td>
                        <td>0.93</td>
                        <td>0.72</td>
                        <td>0.72</td>
                        <td>0.72</td>
                        <td>0.72</td>
                        <td>0.72</td>
                      </tr>
                      <tr>
                        <th>Low-A</th>
                        <td>1.05</td>
                        <td>0.69</td>
                        <td>0.92</td>
                        <td>0.76</td>
                        <td>0.69</td>
                        <td>0.65</td>
                        <td>0.68</td>
                        <td>0.46</td>
                        <td>0.84</td>
                        <td>0.64</td>
                        <td>0.89</td>
                        <td>0.64</td>
                        <td>0.64</td>
                        <td>0.64</td>
                        <td>0.64</td>
                        <td>0.64</td>
                      </tr>
                      <tr>
                        <th>Rookie</th>
                        <td>1.08</td>
                        <td>0.51</td>
                        <td>0.77</td>
                        <td>0.63</td>
                        <td>0.26</td>
                        <td>0.39</td>
                        <td>0.48</td>
                        <td>0.27</td>
                        <td>0.48</td>
                        <td>0.54</td>
                        <td>1.06</td>
                        <td>0.54</td>
                        <td>0.54</td>
                        <td>0.54</td>
                        <td>0.54</td>
                        <td>0.54</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <h3 class="title is-5">Minor League Factors (Pitching)</h3>
                <div class="table-container">
                  <table class="table is-narrow is-hoverable">
                    <thead>
                      <tr>
                        <th>Level</th>
                        <th>W</th>
                        <th>L</th>
                        <th>G</th>
                        <th>GS</th>
                        <th>CG</th>
                        <th>SHO</th>
                        <th>SV</th>
                        <th>HLD</th>
                        <th>BFP</th>
                        <th>IP</th>
                        <th>H</th>
                        <th>ER</th>
                        <th>R</th>
                        <th>HR</th>
                        <th>SO</th>
                        <th>BB</th>
                        <th>IBB</th>
                        <th>HBP</th>
                        <th>WP</th>
                        <th>BK</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>AAA</th>
                        <td>0.92</td>
                        <td>1.14</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>0.96</td>
                        <td>0.96</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.13</td>
                        <td>0.92</td>
                        <td>0.92</td>
                        <td>0.88</td>
                        <td>0.56</td>
                        <td>0.87</td>
                        <td>0.87</td>
                        <td>0.87</td>
                        <td>0.87</td>
                        <td>0.87</td>
                      </tr>
                      <tr>
                        <th>AA/Fall</th>
                        <td>0.92</td>
                        <td>1.24</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>0.99</td>
                        <td>0.99</td>
                        <td>0.99</td>
                        <td>0.99</td>
                        <td>1.25</td>
                        <td>1.05</td>
                        <td>1.05</td>
                        <td>1.02</td>
                        <td>0.50</td>
                        <td>0.95</td>
                        <td>0.95</td>
                        <td>0.95</td>
                        <td>0.95</td>
                        <td>0.95</td>
                      </tr>
                      <tr>
                        <th>High-A</th>
                        <td>0.92</td>
                        <td>1.31</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>0.96</td>
                        <td>0.96</td>
                        <td>0.98</td>
                        <td>0.98</td>
                        <td>1.28</td>
                        <td>1.03</td>
                        <td>1.03</td>
                        <td>1.28</td>
                        <td>0.46</td>
                        <td>0.92</td>
                        <td>0.92</td>
                        <td>0.92</td>
                        <td>0.92</td>
                        <td>0.92</td>
                      </tr>
                      <tr>
                        <th>Low-A</th>
                        <td>0.86</td>
                        <td>1.27</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.04</td>
                        <td>1.04</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.30</td>
                        <td>1.04</td>
                        <td>1.04</td>
                        <td>1.56</td>
                        <td>0.45</td>
                        <td>0.89</td>
                        <td>0.89</td>
                        <td>0.89</td>
                        <td>0.89</td>
                        <td>0.89</td>
                      </tr>
                      <tr>
                        <th>Rookie</th>
                        <td>0.68</td>
                        <td>1.10</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.04</td>
                        <td>1.04</td>
                        <td>0.96</td>
                        <td>0.96</td>
                        <td>1.30</td>
                        <td>1.08</td>
                        <td>1.08</td>
                        <td>2.01</td>
                        <td>0.38</td>
                        <td>0.95</td>
                        <td>0.95</td>
                        <td>0.95</td>
                        <td>0.95</td>
                        <td>0.95</td>
                      </tr>
                    </tbody>
    
                  </table>
                </div>
  
                <h2 class="title is-3">Regression to the mean</h2>
                <h3 class="subtitle is-5 is-italic">(Add average player stats as 15% of the max PA/BF, after removing players with less than 10% of the max PA/BF)</h3>
                <p>
                  After each player's stats have been weighted, we roll them up into a single statline. Now it's time to regress.
                </p>
                <p>
                  Our regression component will amount to 15% of the PA (or, for pitchers, BF) for the player with the most PA/BF in the sample. For comparison, <a href="http://www.tangotiger.net/archives/stud0346.shtml">Marcel</a> uses 1200 PA for its regression. A fixed number of PA, however, doesn't deal well with longer and shorter season lengths (e.g. the shortened season of 2020), so we want to instead use a percentage of PA. With Marcel, a top-of-the-lineup hitter might get 700 PA over the three years Marcel considers. That player would have 8400 PA after Marcel's weighting, and 1200 PA of regression would be about 14% of the total. That's what we are trying to match with our 15% regression.
                </p>
                <p>
                  The regression will be based on the average stats from our universe of players. Before we find the average, though, we discard any players who accumulated less than 10% of the largest number of PA/BF in our set. This clears out pitchers who are hitting, hitters who are pitching, etc. (Question: Should we try to find the average from only MLB stats (i.e. true league average), rather than the average from our universe of players at every level?)
                </p>
                <p>
                  The statline for this average player is added to each player's projected stats.
                </p>
  
                <h2 class="title is-3">Playing time</h2>
                <h3 class="subtitle is-5 is-italic">(650 PA for hitters, 800 BF for SP, 250 BF for RP)</h3>
                <p>
                  For now, playing time projections are kept simple. Every batter's stats are adjusted to exactly 650 PA. Version 1.0 also adjusted every pitcher to 650 BF, but this created obviously unrealistic projections for RP. Version 1.1 tweaks pitcher playing time by setting RP at 250 BF and SP at 800 BF. Pitchers in a mixed role fall in between those two numbers. For example, a pitcher who starts half of his games would be projected halfway between 250 and 800 at 525 BF.
                </p>

                <h2 class="title is-3">That's it!</h2>
                <p>We're finished! Our Aparicio projections are completed. Hopefully you can see the many ways that this can still be improved, but it gives us a good starting point.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

    <!-- FOOTER -->
    <footer class="footer has-background-dark has-text-light">
      <div class="content has-text-centered">
        <p>
          Projections and site design by <a href="https://twitter.com/MaysCopeland">Mays Copeland</a>.
        </p>
      </div>
    </footer>
 
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>